{% extends "header.html"%}


<!DOCTYPE html>
<html>
{% block content %}
<head>
	{% block title %}
    <title>Update your account</title>
    {% endblock %}
</head>
<body>
	<form method="post" action="done">
		{% csrf_token %}
		<ul>
			<li>Username:</li>
			<input type="text" name="username" placeholder="{{ user.username }}" required="True">
			<li>First Name</li>
			<input type="text" name="first_name" placeholder="{{ user.first_name }}" required="True">			
			<li>Last Name</li>
			<input type="text" name="last_name" placeholder="{{ user.last_name }}" required="True">			
			<li>Email</li>
			<input type="text" name="email" placeholder="{{ user.email }}" required="True">			
			
			<input type="submit" name="update" value="Update">
		</ul>


	</form>
</body>
{% endblock %}

</html>