
{% extends "header.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% block title %}
    <title>Coming Soon!</title>
    {% endblock %}
  
</head>

{% block content %}
<section class="probootstrap-hero">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center probootstrap-hero-text pb0 probootstrap-animate" data-animate-effect="fadeIn">
            <h1>Coming Soon!</h1>
            <h3>We will upload this Course Soon.</h3>
            </div>
        </div>
      </div>
    </section>
<!-- disply messaage -->
{% for message in messages %}
<script type="text/javascript">
  alert('{{message}}');
</script>
{% endfor %}
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
{% endblock %}



</html>