{% extends "header.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% block title %}
    <title>HTML</title>
    {% endblock %}  
</head>

{% block content %}
<!-- container -->
<div class="container">
  <center><h1>HTML</h1></center>

  <!-- first block -->
  <div>
    <h1>Basic Concepts!</h1>
    <p>
      HTML is the standard markup language for creating Web pages:
      <ul>
        <li>HTML stands for Hyper Text Markup Language</li>
        <li>HTML describes the structure of a Web page</li>
        <li>HTML consists of a series of elements</li>
        <li>HTML elements tell the browser how to display the content</li>
        <li>HTML elements are represented by tags</li>
        <li>Browsers do not display the HTML tags, but use them to render the content of the page</li>
      </ul>
    </p>
  </div>

  <!-- second block -->
  <div>
    <h1>A Simple HTML Document</h1>
    <p>
  <pre>
  &lt;!DOCTYPE html>
  &lt;html>
  &lt;head>
  &lt;title>Page Title&lt;/title>
  &lt;/head>
  &lt;body>
  &lt;h1>My First Heading&lt;/h1>
   &lt;p>My first paragraph.&lt;/p>
  &lt;/body>
  &lt;/html>
  </pre>
    </p>
  <h4>Example Explained:</h4>
  <ul>
    <li>The <b>&lt;!DOCTYPE html></b> declaration defines this document to be HTML5</li>
    <li>The <b>&lt;html></b> element is the root element of an HTML page</li>
    <li>The <b>&lt;head></b> element contains meta information about the document</li>
    <li>The <b>&lt;title></b> element specifies a title for the document</li>
    <li>The <b>&lt;body></b> element contains the visible page content</li>
    <li>The <b>&lt;h1></b> element defines a large heading</li>
    <li>The <b>&lt;p></b> element defines a paragraph</li>
  </ul>
  </div>

  <!-- Third block -->
  <div>
    <h1>
      HTML Tags
    </h1>
    <p>
      HTML tags are element names surrounded by angle brackets:
  <pre>&lt;tagname>content goes here...&lt;/tagname></pre>
    </p>
  </div>


  <!-- Fourth block -->
  <div>
    <h1>HTML Headings</h1>
    <p>
      HTML headings are defined with the &lt;h1> to &lt;h6> tags. <br>
  &lt;h1> defines the most important heading. <br>
  &lt;h6> defines the least important heading: 
  <pre>
  &lt;h1>This is heading 1&lt;/h1>
  &lt;h2>This is heading 2&lt;/h2>
  &lt;h3>This is heading 3&lt;/h3>
  </pre>
    <h4>Output:</h4>
    <pre>
    <h1>This is heading 1</h1>
    <h2>This is heading 2</h2>
    <h3>This is heading 3</h3>
    </pre>
    </p>
  </div>

  <!-- Fifth block -->
  <div class="col-md-6">
    <h1>HTML Paragraphs</h1>
    <p>
      HTML paragraphs are defined with the &lt;p> tag:<br>
  <pre>
  &lt;p>This is a paragraph &lt;/p>
  &lt;p>This is another paragraph &lt;/p>
  </pre>
  </p>
  </div>


  <!-- sixth block -->
  <div class="col-md-6" >
    <h1>HTML Images</h1>
    <p>
      HTML images are defined with the &lt;img> tag. <br>

      The source file (src), alternative text (alt), width, and height are provided as attributes:
  <pre>
  &lt;img src="image.jpg" alt="abc.com" width="100" height="100">
  </pre>
  </p>
  </div>


  <!-- Seventh block -->
  <div>
    <h1>HTML Lists</h1>
    <p>
      HTML lists are defined with the &lt;ul> (unordered/bullet list) or the &lt;ol> (ordered/numbered list) tag, followed by &lt;li> tags (list items): <br>
  <pre>
  &lt;ul>
    &lt;li>Coffee&lt;/li>
    &lt;li>Tea&lt;/li>
    &lt;li>Milk&lt;/li>
  &lt;/ul>

  &lt;ol>
    &lt;li>Coffee&lt;/li>
    &lt;li>Tea&lt;/li>
    &lt;li>Milk</li>
  &lt;/ol>
  </pre>
  </p>
  </div>
</div>


{% for message in messages %}
<script type="text/javascript">
  alert('{{message}}');
</script>
{% endfor %}
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
{% endblock %}


</html>