<!DOCTYPE html>
<html>
<head>
  {% block title %}
    <title>Sign Up</title>
    {% endblock %}
</head>
<body>

  <h1>Sign up</h1>
  <form action="" method="POST">
    {% csrf_token%}
    <input type="text" name="username" placeholder="Username" required="TRUE" /><br>
    <input type="text" name="first_name" placeholder="First Name" required="TRUE" /><br>
    <input type="text" name="last_name" placeholder="Last Name" required="TRUE" /><br>
    <input type="email" name="email" placeholder="E-mail" required="TRUE" /><br>
    <input type="password" name="password1" placeholder="Password" required="TRUE" /><br>
    <input type="password" name="password2" placeholder="Retype password" required="TRUE"/><br>
      
    <input type="submit" value="Sign Up" />
    </form>

{% for message in messages %}
<script type="text/javascript">
  alert('{{message}}');
</script>
{% endfor %}
<script src="js/scripts.min.js"></script>
<script src="js/custom.min.js"></script>
    


</body>
</html>
