{% extends 'header.html' %}
{% load static%}
{% block content %}


<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="container" style="margin-top: 50px;">
		{{form}}<br>
	<button class="btn btn-primary btn-ghost btn-lg" type="submit">Upload</button>
	</div>
	

	
</form>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4">
			<p><a href="{% url 'resources:resource' %}">Download Resources</a></p>
		</div>
	</div>
</div>
</div>
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
{% endblock %}